body {
  font-family: "Nunito", "Segoe UI", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #393a42;
  text-align: left;
  background-color: #fff;
}

.song-info {
    padding-left: 10px;
}
.song-info h4, .song-info h2 {
    display: inline-block;
}
/******************************
 ******** LYRICS STYLING ******
 ******************************/

#lyrics {
    /*width: fit-content !important;*/
}
.lyric {
    cursor: pointer;
}
.lyric-line {
    padding-bottom: 3px;
    padding-left: 5px;
}
.stanza-separator {
    padding: 12px 0px 6px 0em;
    opacity: 0.6;
    font-size: small !important;
}
.same-word-highlight {
    font-weight: bold;
}
.selected-in-scatter-plot {
    color: #e69750;
    font-weight: bold;
}
.selected-lyric {
    color: blue;
    font-weight: bold;
}
.heat-map-block {
    width: 2em;
    display: inline-block;
    height: 2em;
    float: right;
}


/*.lyric-line { font-size: 1em; transition: all 0.2s; }
.lyric-line:hover { font-size: 1.5em; }
.lyric-line:hover + .lyric-line { font-size: 1.3em; }
.lyric-line:hover + .lyric-line + .lyric-line { font-size: 1.1em; }*/


#lyric-line-isolation {
    min-height: 10vh;
}
.isolated-lyric {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 0.4em;
    text-align: center;
}
.isolated-lyric-pos {
    display: block;
    font-size: 0.5em;
}


/******************************
 ******** D3JS STYLING ********
 ******************************/
#plots {
}

#scatter-plot {
    position: fixed;
}
.selected-scatter-point {
    /*fill: #e69750 !important;*/
    opacity: 1 !important;
    stroke: #e69750 !important;
    stroke-width: 3px !important;
}
.selected-lyric-scatter-plot {
    /*fill: blue !important;*/
    opacity: 1 !important;
    stroke: blue !important;
    stroke-width: 3px !important;
}